# Default ignored files
/shelf/
/workspace.xml

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/dependency-reduced-pom.xml
release.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/
bin/

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs and temp files
*.log
*.tmp
*.swp
*.bak

